@import '../../../style/variables.scss';

.formContainer {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  overflow: hidden;
  gap: 15px;
}

.formContainer .formHeader {
  font-family: $modal-font-family;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  color: $modal-header;
  text-align: center;
}

.formContainer .formText {
  font-family: $modal-font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $modal-text-primary;
}

.formContainer .formContainerFlexColumnGap20 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.formContainer .formContainerFlexColumnGap16 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formContainer .formInputLabel {
  display: flex;
  flex-direction: column;
  gap: 6px;

  font-family: $modal-font-family;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

.formContainer .formSubmitBtn {
  background-color: $secondary-main;
  border-radius: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.formContainer.formSubmitBtnText {
  color: #fff;
  text-transform: none;
  font-family: $modal-font-family;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}
