@import '../../style/variables.scss';

.headerWrapper {
  background-color: $primary-main;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  color: $text-primary;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.17;

  @media screen and (min-width: $md) {
    font-size: 32px;
  }
}

.link {
  font-size: 16px;
  line-height: 1.17;
  text-transform: capitalize;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: 350ms cubic-bezier(0.215, 0.61, 0.355, 1);

  &:is(:hover, :focus) {
    color: $text-secondary;
  }
}

.active {
  composes: link;
  color: $text-secondary;
}
