@import '../../style/variables.scss';

.OrganizerInfoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: object-fit;
}

.organaizerAvatar {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.organaizerInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.organaizerName {
  color: $text-primary;
  font-size: 20px;
  font-weight: 700;
}

.organaizerText {
  color: $grey-200;
  font-size: 14px;
}
