@import '../../style/variables.scss';

.container {
  width: 100%;
  background-color: $info-main;
  padding: 74px 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 32px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  color: $text-primary;
  line-height: 1.17;

  @media screen and (min-width: $md) {
    font-size: 28px;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  font-size: 16px;
  color: $text-secondary;

  @media screen and (min-width: $md) {
    font-size: 20px;
  }
}

.contentEllipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.contentShowMoreWrapper {
  display: flex;
  justify-content: end;
}

.contentShowMore {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  margin-top: -1px;
  color: $text-primary;
}

.editArea {
  textarea {
    padding-right: 12px;
  }
}

.limit {
  position: absolute;
  bottom: 48px;
  right: 5px;
  font-size: 12px;

  color: $text-secondary;
  span {
    font-size: 12px;
  }

  .overLimit {
    color: $error-main;
  }
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;

  transition: $transition;

  &:is(:hover, :focus) {
    transform: scale(1.4);
  }

  &:active {
    transform: scale(1);
  }
}

.editBtn {
  margin-left: auto;
  margin-top: 12px;
  font-weight: 600;
  color: $text-primary;

  border: 1px solid $border-primary;
  border-radius: 12px;

  transition: $transition;

  &:is(:hover, :focus) {
    transform: scale(1.2);
  }

  &:disabled {
    color: $error-main;
    border-color: $error-main;
  }
}
