@import '../../style/variables.scss';

.events {
  flex: 0 0 calc(70% - 30px);
  background-color: $background-chat;
  border: 1px solid $chat-border-color;
  border-radius: $border-radius;
  padding: 24px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  .loading {
    align-self: center;
  }

  .error {
    color: red;
  }
}
