@import '../../style/variables.scss';

.events {
  flex: 0 0 calc(70% - 30px);
  background-color: $background-chat;
  border: 1px solid $chat-border-color;
  border-radius: $border-radius;
  padding: 24px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .loading {
    align-self: center;
  }

  .error {
    color: red;
  }

  @media screen and (max-width: $md) {
    flex-basis: 240px;
  }
}
