@use '../../style/variables.scss' as vars;

.journey-milestone-list {
  width: 100%;

  .line {
    margin-left: calc(var(--badge-size) / 2);
    margin-bottom: 8px;
    margin-top: 8px;
    background-color: vars.$black;
  }
}
