.journeyWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 20px;
}

.jorneyInfoWrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.jorneyMainInfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.milestonesList {
  padding-left: 4px;
}
