.journeyWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 20px;
}

.jorneyInfoWrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.jorneyMainInfo {
  width: 100%;
}
