.journeyWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 20px;
}

.jorneyInfoWrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.jorneyMainInfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.milestonesList {
  padding-left: 4px;
}

.joinJourneyButton {
  display: flex;
  width: 160px;
  height: 38px;
  padding: 3px 12px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
}

.journeyHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
