.submitButton {
  margin-top: auto;
}

.modal {
  height: 100%;
  overflow-y: auto;
}

.inputsWrapper {
  gap: 32px;
}

.datePickers {
  gap: 8px;
}

.datePickersWrapper {
  gap: 16px;
}

.addFieldButton {
  margin-left: auto;
  min-width: 24px;
  padding: 8px;
}
