@import '../../../style/variables.scss';

.inputUnDisplayed {
  display: none;
}

.inputLabel {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-bottom: 16px;

  div {
    margin: 0;
  }

  .error {
    position: absolute;
    bottom: 0px;
    left: 13px;
    color: $error-main;
    font-size: 10px;
  }
}

.radioWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  gap: 24px;
}

.radioLabel {
  text-align: center;
}

.radioList {
  justify-content: center;
  flex-direction: row;
}

.submitBtn {
  width: 100%;
}
