@import '../../style/variables.scss';

.modalHeader {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  color: $modal-header;
  text-align: center;
}

.modalText {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $modal-text-primary;
}

.formContainer {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  overflow: hidden;
  gap: 34px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.linkContainer {
  display: flex;
  gap: 0.5rem;
}

.linkText {
  color: $modal-accent;
  text-decoration-color: $modal-accent;
  width: -moz-fit-content;
  width: fit-content;

  transition: $transition;

  &:is(:hover, :focus) {
    color: $modal-accent-hover;
    text-decoration-color: $modal-accent-hover;
  }
}

.formContainerFlexColumnGap20 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.formContainerFlexColumnGap16 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formInputLabel {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: 'relative';
}

.formSubmitBtn {
  background-color: $secondary-main;
  border-radius: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.formSubmitBtnText {
  color: #fff;
  text-transform: none;
  font-family: '' Poppins ' sans-serif';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}
