@import '../../../style/variables.scss';

.milestone-select-button {
  .check-icon {
    opacity: 0;
    color: $primary-hover-color;
    font-size: 32px;
  }

  &.Mui-selected {
    .check-icon {
      opacity: 1;
      margin-left: auto;
    }
  }
}
