SERVER_CONFIG_FILE_PATH=

# also need create at least .env.development file and add env vars from this example
# if you want to test with producton env then create .env.production file as well
# all envs that do not depend on mode (dev or prod) can placed in .env file
